h3{
    background-color: aqua;
}

button{
    /*padding-left: 40px;
    padding-top: 60px;
    padding-right: 50px;
    padding-bottom: 70px;
    padding: 40px,60px,70px,50px;*/
    /*margin-left: 250px;
    margin-top: 200px;*/
    margin: 400px;
    
}

div{
    width: 300px;
    height: 200px;
    background-color: aqua;
    padding: 50px;
    margin: 20px;
    border: 8px solid black;
}